<form>
<app-progress-line *ngIf="isRequesting"></app-progress-line>

<app-error-message *ngIf="response && response.error">{{response.error.message}}</app-error-message>

<app-page-container [maintitle]="( form.id ? 'Modificar' : 'Crear' ) + ' Localización'" 
  subtitle="Categorice los dispositivos y distribúyalos en ubicaciones y pisos.">
  <div class="row">

    <div class="form-group col-md-6">
      <label for="inputName" translate>Nombre Localización:</label>
      <div class="input-group Name">
        <input type="text" class="form-control app-location-single-name" name="name"
        [(ngModel)]="form.name" placeholder="Nombre Localización">
      </div>
      <span class="error-message-inline" *ngIf="error(response, 'name')">{{error(response, 'name')}}</span>

    </div>
    
    <div class="form-group col-md-6">
      <label for="inputName" translate>Nivel:</label>
      <div class="input-group Name">
        <select type="text" [(ngModel)]="form.level" name="level" class="form-control app-location-single-level">
          <option value="" disabled="disabled" selected="selected" translate>Seleccione el nivel (piso)</option>
          <option *ngFor="let option of levels" [selected]="(option.value ? option.value : option.name) == selected" value="{{option.value ? option.value : option.name}}">{{option.name}}</option>
        </select>
      </div>
      <span class="error-message-inline" *ngIf="error(response, 'level')">{{error(response, 'level')}}</span>

    </div>

  </div>
  
  <label translate>Elija una imagen para reconocer la ubicación más fácil:</label>
  <app-ng-media 
     (selectionChange)="changeSelection($event);"
    type="single" #locationIcon></app-ng-media>

    <br>
  <button type="submit" (click)="formSubmit()" class="btn btn-primary  app-location-single-create" *ngIf="!form.id" translate>Crear ubicación</button>
  <button (click)="formSubmit()" class="btn btn-primary app-location-single-update" *ngIf="form.id" translate>Editar Localización</button>
  <button (click)="deleteItem()" class="btn btn-danger" *ngIf="form.id" translate>Eliminaer Localización</button>

</app-page-container>
</form>
