<div class="container-login">
  <div class="wrap-login">
    <div class="login-header">
      <span>
        Politicas de privacidad
      </span>
    </div>
    
<pre>Este aviso de privacidad divulga las prácticas de privacidad de http://lawebdelprogramador.cl/IOT. Este aviso de privacidad se aplica únicamente a la información recopilada por este sitio web. Le notificará de lo siguiente:

Qué información de identificación personal se recopila de usted a través del sitio web, cómo se usa y con quién se puede compartir.
Qué opciones están disponibles para usted con respecto al uso de sus datos.
Los procedimientos de seguridad implementados para proteger el mal uso de su información.
Cómo puede corregir cualquier inexactitud en la información.
Recopilación, uso y uso compartido de información
Somos los únicos propietarios de la información recopilada en este sitio. Solo tenemos acceso a / recopilamos información que usted voluntariamente nos proporciona por correo electrónico u otro contacto directo de usted. No venderemos ni alquilaremos esta información a nadie.


Utilizaremos su información para responderle, con respecto a la razón por la que nos contactó. No compartiremos su información con ningún tercero fuera de nuestra organización, salvo cuando sea necesario para cumplir con su solicitud, p. para enviar un pedido


Mira qué datos tenemos sobre ti, si hay alguno.
Cambie / corrija cualquier dato que tengamos sobre usted.
Haz que eliminemos cualquier información que tenemos sobre ti.
Exprese cualquier preocupación que tenga sobre nuestro uso de sus datos.
Seguridad
Tomamos precauciones para proteger su información. Cuando envía información sensible a través del sitio web, su información está protegida tanto en línea como fuera de línea.


Mira qué datos tenemos sobre ti, si hay alguno.
Cambie / corrija cualquier dato que tengamos sobre usted.
Haz que eliminemos cualquier información que tenemos sobre ti.
Exprese cualquier preocupación que tenga sobre nuestro uso de sus datos.
Seguridad
Tomamos precauciones para proteger su información. Cuando envía información sensible a través del sitio web, su información está protegida tanto en línea como fuera de línea.

Siempre que recolectamos información sensible (como datos de tarjetas de crédito), esa información se cifra y se nos transmite de manera segura. Puede verificar esto buscando un icono de candado en la barra de direcciones y buscando "https" al comienzo de la dirección de la página web.

Si bien utilizamos el cifrado para proteger la información confidencial transmitida en línea, también protegemos su información fuera de línea. Solo los empleados que necesitan la información para realizar un trabajo específico (por ejemplo, facturación o servicio al cliente) tienen acceso a información personal identificable. Las computadoras / servidores en los que almacenamos información de identificación personal se guardan en un entorno seguro. </pre>
<br><br>
No tienes una cuenta?
<a routerLink="/signup" class="app-signup-button">
  Sign Up
</a>
o tu puedes
<a routerLink="/login">
  Login
</a>
      
  </div>
</div>