<app-page-container maintitle="Personalización de humedad" subtitle="Modifique cómo se ve y se siente un sensor de humedad en el tablero">
  <div class="row">
    <div class="col-md-12">
      <label class="checkbox" >
        <input type="checkbox" class="app-device-customization-realtime" (change)="TriggerChange();" [(ngModel)]="form.DisplayHumidityInHome">
        <i></i> <span translate>Muestra el porcentaje de humedad en la página de inicio</span>
      </label>
    </div>  
  </div>
</app-page-container>