<app-page-container maintitle="Personalización de la lámpara" subtitle="Modifique cómo se ve y se siente una lámpara en el tablero">
  <div class="row">
    <div class="col-md-12">
      <label class="checkbox" >
        <input type="checkbox" class="app-device-customization-realtime" (change)="TriggerChange();" [(ngModel)]="form.DisplayLampOnOffInHome">
        <i></i> <span translate>Muestra el valor en tiempo real en la página de inicio</span>
      </label>
    </div>  
  </div>
</app-page-container>